/*Для авторизации*/
#login_container {
    width: 357px;
    height: 383px;
    margin: 100px auto;
    background: url('../img/login_bg.png') top left no-repeat;
}

#form_container {
    width: 300px;
    height: 200px;
    margin: 0px auto;
    padding-top: 80px;
}

.text_input:focus {
    outline: 0;
}

.text_input {
    color: #525253;
    border: 0;
    margin: 5px 35px 0 34px;
    padding: 0px 0px 0px 10px;
    width: 229px;
    height: 32px;
    background: url('../img/text_input.png') top left no-repeat;
}

#login{
    margin: 20px 34px;
}
#registration{
    margin-top: 20px;
}
#login:hover, #registration:hover{
    opacity: 0.9;
}