#header_registration{
    font-size: 50px;
}

.label-text{
    font-size: 18px;
    margin: 10px;
}
.text_input {
    margin: 10px 5px 10px 34px;
}
.radio-input{
    width: 50px;
    margin: 5px 35px 0 34px;
}
/*для превью картинки*/
#image_upload_preview{
    max-width: 100px;
    max-height: 100px;
}

#login, #registration{
    margin-top: 20px;
    padding:10px 15px;
    font:18px 'Roboto', sans-serif;
}
#registration{
    margin-right: 20px;
}

.registration-form>div{
    width: 70%;
    margin: 0 auto;
}

.form-text {
    margin-top:10px;
    margin-bottom:10px;
}

#container{
    padding-top: 20px;
    height:110vh;
}
